body {
}

/*.nav-items {
    padding: 15px;
    margin: 15px;
}*/

.navbar,
.footer {
    height: 5em;
}

.nav-item {
    margin-left: 15px;
}

.signup-cover,
.main-cover,
.home-cover {
    text-align: center;
}

.home-cover {
    margin-top: 18em;
    margin-bottom: 18em;
}

.main-cover {
    margin-top: 6em;
    margin-bottom: 6em;
}

.signup-cover {
    margin-top: 8em;
    margin-bottom: 18em;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin {
    font-weight: 400;
}

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.sign-icon {
    height: 50px;
    width: auto;
}

label, input {
    margin-bottom: 8px;
}

.card-img-top {
    height: 4rem;
    width: auto;
}

.clickable-card,
.clickable-card:hover,
.clickable-list,
.clickable-list:hover {
    color: inherit;
    text-decoration: none;
}

.btn-row {
    margin-bottom: 2em;
}

.folders-row {
    margin-bottom: 5em;
}

.card,
.list-group-horizontal,
.btn-add {
    margin-bottom: 20px;
}


.fav-nav {
    border-top: 1px solid #1C6EA4;
    border-bottom: 1px solid #1C6EA4;
}

// SidenaveTest

/*.sidenav {*/
    /*height: 100%;*/
    /*width: 160px;*/
    /*position: fixed;*/
    /*z-index: 1;*/
    /*top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;*/
    /*display: block;*/
/*}

    .sidenav a:hover {
        color: #f1f1f1;
    }

.main {
    margin-left: 160px;*/ /* Same as the width of the sidenav */
    /*font-size: 28px;*/ /* Increased text to enable scrolling */
    /*padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}*/
