body {
}

/*.nav-items {
    padding: 15px;
    margin: 15px;
}*/

.nav-item {
    margin-left: 15px;
}

.signup-cover,
.main-cover {
    text-align: center;
}

.main-cover {
    margin-top: 10em;
    margin-bottom: 10em;
}

.signup-cover {
    margin-top: 18em;
    margin-bottom: 18em;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin {
    font-weight: 400;
}

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.sign-icon {
    height: 50px;
    width: auto;
}

.card-img-top {
    height: 4rem;
    width: auto;
}

.clickable-card,
.clickable-card:hover,
.clickable-list,
.clickable-list:hover {
    color: inherit;
    text-decoration: none;
}

.card,
.list-group-horizontal {
    margin-bottom: 20px;
}

.list-group-horizontal
